html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-size: 15px;
    font-family: arial;
    line-height: 1;
    color: rgb(55, 65, 75);
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************************************************/
.container {
    max-width: 90%;
    margin: 0 auto;
}

form {
    max-width: 400px;
}

.form-group {
    margin: 10px 0;
}

.form-group > label {
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
}

.form-group > input {
    display: block;
    width: 100%;
    padding: 6px 10px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
}

.form-group > .form-error {
    color: #eb4b6a;
    margin: 2px 0;
    display: none;
}

.form-group > .has-error.form-error {
    display: block;
}

button.submit-button {
    font-size: 1.1em;
    color: white;
    padding: 6px 10px;
    background-color: #99CC32;
    border: none;
    border-radius: 4px;
}

.success-message{
    width: 100%;
    padding: 16px 0;
    background-color: #B9DF77;
}